// TODO Figure out if you want a fixed non transparent navbar or a transparent one...
// TODO ... The transparent one will have a button that pushes us back up
/* General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'VT323', monospace;
}

/* Navbar */

nav ul {
    position: fixed;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    /* default */
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* background-color: #474b4f; */
    align-items: center;
    height: 70px;
    z-index: 1;
    opacity: 0.8;
}

li a {
    /* color: white; */
    color: #86c232;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 16px;
    opacity: 0.7;
}

ul li a:hover:not(.active) {
    /* color: #222629; */
    font-weight: bolder;
    opacity: 1;
}

/* Section 1 */

#img-container {
    min-height: 100vh;
}

#picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -1;
}

p {
    position: absolute;
    margin-top: 480px;
    text-align: center;
    color: #86c232;
    font-size: 50px;
    opacity: 0.7;
}

/* My Color Scheme */

/* #61892f, #86c232, #222629, #474b4f, #686e70 */