/* General */

html,
body {
    padding: 0;
    margin: 0;
}

/* Navbar */

ul {
    display: flex;
    flex-direction: row;
    /* default */
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #474b4f;
    align-items: center;
    height: 50px;
}

li a {
    color: #86c232;
    text-decoration: none;
    font-size: 18px;
    padding: 14px 16px;
}

ul li :hover:not(.active) {
    color: #222629;
}

/* My Color Scheme */

/* #61892f, #86c232, #222629, #474b4f, #686e70 */